.body{
    background-color:rgb(80, 72, 129);
    background-position: center 25%; 
    background-size: auto; 
    height: 100vh
}
.logo{
    clip-path:circle(4.6%);
}
.accions{
    cursor: pointer;
}

.title-card{
    font-family: 'Fuzzy Bubbles', cursive;
    color: rgb(145, 150, 218);
    font-size: 50px;
    }
    
    .vgame-create{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 30px;
     color: rgb(74, 240, 9);
     
    }
    
    
    .container-cards{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        padding: 0px 10px 0px 20px;
        justify-content: center;
        backdrop-filter:blur(7.5px); 
        
    }
    .Indivgame{
        display: inline-flexbox;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border-radius: 20px;
        padding-top: 7px;
        font-family:  Arial, Helvetica, sans-serif;
    }
    
    .card-link{
        height: 565px;
    
    }
    .foto{
        background-image: url("https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    }